// $bg-main: #242943;
// $bg-dark: #21253a;
$bg-dark: _palette(header);

$bg-main: _palette(bg);
// used for spotlight Linear components
// $bg-main-2: #333856;
// $bg-main-3: #2e3450;

body{
  background: $bg-main;
}
#banner:after{
  background: $bg-main;
}
// .spotlights > section{
//   // background: $bg-main-3;
// }
// .spotlights > section:nth-child(2n){
//   // background: $bg-main-2;
// }

#__nuxt{

  #header{
    background: $bg-dark;
  }
  .button {
    background:inherit;
  }

  // sidepanel override
  .sidepanel{
    padding: 30px 20px;
    background:$bg-main;
    min-height: 100%;
    
    > * ul {
    border: 0;
    
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
      list-style: none;
      li {
        border-top: solid 1px _palette(border);
        text-decoration: none;
        a {
          cursor: pointer;
          border-bottom: 0;
        }
        a.primary{
          background: white;
          color: $bg-main;
          &:hover{
            background-color: _palette(highlight);
          }
        }
      }
    }
  }
  #header{
    z-index: 99;
  }

}

