#__nuxt{
  .button {
    background:#242943;
    &::before{
      // content: '';
      // position: absolute;
      // background: red;
      // opacity: 0.3;
      // top: -20px;
      // width: 100%;
      // height: 100%;
      // z-index: -1;
      // left: -20px;
    }
  }

  // sidepanel overrride
  .sidepanel{
    background:#242943;

  }
  #header{
    z-index: 99;
  }

}

