$bg-main: #242943;
$bg-dark: #21253a;
$bg-main-2: #333856;
$bg-main-3: #2e3450;

// $bg-main: #263788;
// $bg-dark: #939dce;

body{
  background: $bg-main;
}
#banner:after{
  background: $bg-main;
}
.spotlights > section{
  background: $bg-main-3;
}
.spotlights > section:nth-child(2n){
  background: $bg-main-2;
}

#__nuxt{

  #header{
    background: $bg-dark;
  }
  .button {
    background:inherit;
    &::before{
      // content: '';
      // position: absolute;
      // background: red;
      // opacity: 0.3;
      // top: -20px;
      // width: 100%;
      // height: 100%;
      // z-index: -1;
      // left: -20px;
    }
  }

  // sidepanel overrride
  .sidepanel{
    padding: 30px 20px;
    background:$bg-main;
    height: 100%;
    
    > * ul {
    border: 0;
    
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
      list-style: none;
      li {
        border-top: solid 1px rgba(212, 212, 255, 0.1);
        text-decoration: none;
        a {
          border-bottom: 0;
        }
        a.primary{
          background: white;
          color: $bg-main;
          &:hover{
            background-color: #9bf1ff;
          }
        }
      }
    }
    

  }
  #header{
    z-index: 99;
  }

}

